
<%# Action is the url we want to send data to %>
<%# Method is the controller action %>
<h1>Create a New Cat!</h1>

<%= render 'form', cat: @cat, action: :new %>
<!-- <form action="<%= cats_url %>" method="post">
    <label for="name">Name: 
        <input type="text" name="cat[name]" id="name" value="">
    </label> 

    <br>
    <br>

    <label for="color">Color: 
        <select name=cat[color] id="color">
            <option disabled selected>--Please Select--</option>
            <option value="rainbow">rainbow</option>
            <option value="magenta">magenta</option>
            <option value="sapphire">sapphire</option>
            <option value="blue">blue</option>
            <option value="azure">azure</option>
            <option value="seaform green">seaform green</option>
            <option value="red">red</option>
            <option value="opal">opal</option>
            <option value="yellow">yellow</option>
        </select>
    </label> 

    <br>
    <br>

    <label for="birth_date">Birth Date: 
        <input type="date" name="cat[birth_date]" id="birth_date" value="">
    </label> 

    <br>
    <br>

    <label for="sex">Sex: 
        <input type="radio" name="cat[sex]" id="male" value="M">
        <label for="male">M</label>
        <input type="radio" name="cat[sex]" id="female" value="F">
        <label for="female">F</label>
    </label> 

    <br>
    <br>

    <label for="description">Description:
        <textarea name="cat[description]" id="description" value=""></textarea>
    </label>

    <br>
    <br>

    <input type="submit" value="Add a New Cat">

</form> -->