
<div class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>

    <h1 class="logo">App Academy Times</h1>
    <nav class="masthead-links">
        <ul>
            <li>Tuesday, October 18, 2016</li>
            <li><a href="#"><i class="fa fa-newspaper"></i>Today’s Paper</a></li>
            <li><a href="#"><i class="fa fa-video"></i>Video</a></li>
            <li>77°F</li>
            <li>AAO <strong>-80%</strong></li>
        </ul>
    </nav>
</div>